.App {
  max-width: 800px;
  margin: 20px 30px 0;
}
.App h1 {
  margin: 10px;
  font-size: 26px;
  font-weight:500;
}

.App footer {
  font-size: 14px;
  padding: 10px;
}

.App a {
  text-decoration: none;
  color: #451D58;
}
