.App {
  max-width: 800px;
  margin: 20px 30px 0;
}
.App h1 {
  margin: 10px;
  font-size: 26px;
  font-weight:500;
}

.App footer {
  font-size: 14px;
  padding: 10px;
}

.App footer p {
  margin-bottom: 6px;
}

.App a {
  color: #451D58;
  font-size: 22px;
  padding: 10px;
  text-decoration: none;
}

.App a:hover {
  opacity: 0.7;
}