.Definitions {
    padding: 10px;
}

.Definitions h3 {
    font-weight: 500;
}

.Definitions .text {
    font-weight:400;
    padding-top: 10px;
}

.Definitions .example {
     font-size: 12px;
     font-style: italic;
     padding-bottom: 10px;
     opacity: 0.5;
}

.Definitions ul {
    padding: 0 30px 6px;
}

.Definitions li {
    font-size: 12px;
}
