.Phonetics {
    margin-bottom: 20px;
}

.Phonetics a {
    border: 1px solid rgb(206, 186, 216, 0.3);
    color: rgb(206, 186, 216);
    font-weight: bold;
    padding: 6px 10px;
    margin: 10px;
    transition: all 120ms ease-in-out;
}

.Phonetics a:hover {
    background-color: #451D58;
    color: #FBF2FF;
    font-weight: bold;
}

.Phonetics .text {
    display: inline;
    opacity: 0.5;
}