.Search section {
   font-size: 14px;
   background-color: white;
   padding: 10px;
   margin: 10px;
}

.Search input {
   width: 100%;
   padding: 4px 8px;
   font-family: 'Poppins', sans-serif;
   border: 1px solid #CEBAD8;
}
